<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site was created by Jason Sheng/ It uses data from mapbox.com and darksky.net</p>
    <img class="portrait" src="/img/Power-BI-Logo.png">
    {{>foot}}
</body>

</html>