<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p>{{helpText}}</p>
    </div>
    
    
    {{>foot}}
</body>

</html>